@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 Verdana, Arial, verdana, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	
}

a:link {
	color: #0B294F;
	text-decoration: none;
}

a:visited{
	color: #0B294F;
}

a: hover, a:active, a:focus {
	text-decoration: none;
	
}
.homePage {
	background: #0B294F;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.header {
	color: white;
	background: #0B294F;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #206ED5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	font: 100%/1.4 Verdana, Arial, verdana, sans-serif;
	color: #0B294F;
	background: #DCC60B;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	color: #FFFFFF;
	background: #206ED5;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}